PORT=3016
STUDENT_SERVICE_URL=http://localhost:3001/students
TEACHER_SERVICE_URL=http://localhost:3002/teachers
CLASS_SERVICE_URL=http://localhost:3003/classes
TIMETABLE_SERVICE_URL=http://localhost:3004/timetables
ATTENDANCE_SERVICE_URL=http://localhost:3005/attendance
EXAMINATION_SERVICE_URL=http://localhost:3006
PERFORMANCE_SERVICE_URL=http://localhost:3007/performance
ASSIGNMENT_SERVICE_URL=http://localhost:3008/assignments
FEE_SERVICE_URL=http://localhost:3009/fees
LEAVE_SERVICE_URL=http://localhost:3010/leave-requests
ADMISSION_SERVICE_URL=http://localhost:3011/admissions
NOTICE_SERVICE_URL=http://localhost:3013/notices
CERTIFICATE_SERVICE_URL=http://localhost:3012/certificates
LIBRARY_SERVICE_URL=http://localhost:3014/library
TRANSPORT_SERVICE_URL=http://localhost:3015/transport
