PORT=3009
MONGODB_URI=mongodb+srv://<user>:<password>@<cluster>.mongodb.net/brightboard-fee?retryWrites=true&w=majority
STUDENT_SERVICE_URL=http://localhost:3001/students
CLASS_SERVICE_URL=http://localhost:3003/classes
