PORT=3100
STUDENT_SERVICE_URL=http://localhost:3001
TEACHER_SERVICE_URL=http://localhost:3002
CLASS_SERVICE_URL=http://localhost:3003
TIMETABLE_SERVICE_URL=http://localhost:3004
ATTENDANCE_SERVICE_URL=http://localhost:3005
EXAMINATION_SERVICE_URL=http://localhost:3006
PERFORMANCE_SERVICE_URL=http://localhost:3007
ASSIGNMENT_SERVICE_URL=http://localhost:3008
FEE_SERVICE_URL=http://localhost:3009
LEAVE_SERVICE_URL=http://localhost:3010
ADMISSION_SERVICE_URL=http://localhost:3011
CERTIFICATE_SERVICE_URL=http://localhost:3012
NOTICE_SERVICE_URL=http://localhost:3013
LIBRARY_SERVICE_URL=http://localhost:3014
TRANSPORT_SERVICE_URL=http://localhost:3015
DASHBOARD_SERVICE_URL=http://localhost:3016
AUTH_SERVICE_URL=http://localhost:3017
